<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>High Scores!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pacman/css/style.css' %}" />
    <link rel="icon" href="{% static 'pacman/img/pacman_logo_circular_color.png' %}" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'pacman/js/script.js' %}"></script>
</head>
<body>
<div class="all_scores_container">
    <div class="header">
        <h1 class="page_header">These are {{ user.username }}'s High Scores</h1>
        <a href="{% url 'home' %}">Go Back</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
</body>
</html>